/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.navbar-logo img {
  height: 40px; /* Adjust this value based on your logo size */
}

.navbar-menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
}

.navbar-menu li {
  margin-right: 20px;
  font-weight: bold;
}

.navbar-menu a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.navbar-menu a:hover {
  color: #555;
}

.navbar-contact {
  display: flex;
  align-items: center;
}

.contact-button {
  padding: 8px 16px;
  background-color: #2c5cc5;
  color: #fff !important;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.contact-button:hover {
  background-color: #1f3f87;
  
}
